<a href="https://colab.research.google.com/github/anujsaxena/AIML/blob/main/AIML_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Continued (functions)**

# **Quantile**

The word “quantile” comes from the word quantity. In simple terms, a quantile is where a sample is divided into equal-sized, adjacent, subgroups (that’s why it’s sometimes called a “fractile“). It can also refer to dividing a probability distribution into areas of equal probability.

In [1]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tina','Ria','Amit','Sumit','Manish','Mayank','Vishal','Vardan','Rahul,','Vikesh','Priyank','Bhavesh']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
print(d)

{'Name': 0        Tina
1         Ria
2        Amit
3       Sumit
4      Manish
5      Mayank
6      Vishal
7      Vardan
8      Rahul,
9      Vikesh
10    Priyank
11    Bhavesh
dtype: object, 'Age': 0     25
1     26
2     25
3     23
4     30
5     29
6     23
7     34
8     40
9     30
10    51
11    46
dtype: int64, 'Rating': 0     4.23
1     3.24
2     3.98
3     2.56
4     3.20
5     4.60
6     3.80
7     3.78
8     2.98
9     4.80
10    4.10
11    3.65
dtype: float64}

In [2]:
df = pd.DataFrame(d)
print(df)

       Name  Age  Rating
0      Tina   25    4.23
1       Ria   26    3.24
2      Amit   25    3.98
3     Sumit   23    2.56
4    Manish   30    3.20
5    Mayank   29    4.60
6    Vishal   23    3.80
7    Vardan   34    3.78
8    Rahul,   40    2.98
9    Vikesh   30    4.80
10  Priyank   51    4.10
11  Bhavesh   46    3.65

In [3]:
#quantile of 0.2 for each column
df.quantile(.2, axis = 0)

Age       25.000
Rating     3.208
Name: 0.2, dtype: float64

In [4]:
df.quantile(.5, axis = 0)

Age       29.50
Rating     3.79
Name: 0.5, dtype: float64

In [5]:
df.quantile(.8, axis = 0)

Age       38.800
Rating     4.204
Name: 0.8, dtype: float64

In [6]:
df.quantile(.2, axis = 1)

0      8.384
1      7.792
2      8.184
3      6.648
4      8.560
5      9.480
6      7.640
7      9.824
8     10.384
9      9.840
10    13.480
11    12.120
Name: 0.2, dtype: float64

In [7]:
df.quantile(.5, axis = 1)

0     14.615
1     14.620
2     14.490
3     12.780
4     16.600
5     16.800
6     13.400
7     18.890
8     21.490
9     17.400
10    27.550
11    24.825
Name: 0.5, dtype: float64

A quantile defines a particular part of a data set, i.e. a quantile determines how many values in a distribution are above or below a certain limit. Special quantiles are the quartile (quarter), the quintile (fifth) and percentiles (hundredth).

**example:**

If we divide a distribution into four equal portions, we will speak of four quartiles. The first quartile includes all values that are smaller than a quarter of all values. In a graphical representation, it corresponds to 25% of the total area of a distribution. The two lower quartiles comprise 50% of all distribution values. The interquartile range between the first and third quartile equals the range in which 50% of all values lie that are distributed around the mean.

https://www.mathemania.com/lesson/quantiles/#:~:text=Quantiles%20of%20order%20are%20values,%E2%88%92%201%20%2C%20y%20N%20%5D%20.

![image.png]()

# **Pivot**

Return reshaped DataFrame organized by given index / column values.
Reshape data (produce a “pivot” table) based on column values. Uses unique values from specified index / columns to form axes of the resulting DataFrame. This function does not support data aggregation, multiple values will result in a MultiIndex in the columns.

#**Parameters:**	
index : string or object, optional column to use to make new frame’s index. If None, uses existing index.

columns : string or object
Column to use to make new frame’s columns.

values : string, object or a list of the previous, optional
Column(s) to use for populating new frame’s values. If not specified, all remaining columns will be used and the result will have hierarchically indexed columns.

Changed in version 0.23.0: Also accept list of column names.

#**Returns:**	
DataFrame
Returns reshaped DataFrame.

#**Raises:**	
ValueError: When there are any index, columns combinations with multiple values. DataFrame.pivot_table when you need to aggregate.

In [9]:
p = df.pivot('Name','Age','Rating')
print(df)
print(p)
print(type(p))

       Name  Age  Rating
0      Tina   25    4.23
1       Ria   26    3.24
2      Amit   25    3.98
3     Sumit   23    2.56
4    Manish   30    3.20
5    Mayank   29    4.60
6    Vishal   23    3.80
7    Vardan   34    3.78
8    Rahul,   40    2.98
9    Vikesh   30    4.80
10  Priyank   51    4.10
11  Bhavesh   46    3.65
Age        23    25    26   29   30    34    40    46   51
Name
Amit      NaN  3.98   NaN  NaN  NaN   NaN   NaN   NaN  NaN
Bhavesh   NaN   NaN   NaN  NaN  NaN   NaN   NaN  3.65  NaN
Manish    NaN   NaN   NaN  NaN  3.2   NaN   NaN   NaN  NaN
Mayank    NaN   NaN   NaN  4.6  NaN   NaN   NaN   NaN  NaN
Priyank   NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN  4.1
Rahul,    NaN   NaN   NaN  NaN  NaN   NaN  2.98   NaN  NaN
Ria       NaN   NaN  3.24  NaN  NaN   NaN   NaN   NaN  NaN
Sumit    2.56   NaN   NaN  NaN  NaN   NaN   NaN   NaN  NaN
Tina      NaN  4.23   NaN  NaN  NaN   NaN   NaN   NaN  NaN
Vardan    NaN   NaN   NaN  NaN  NaN  3.78   NaN   NaN  NaN
Vikesh    NaN   NaN   NaN  NaN  4.8   NaN   NaN   NaN  NaN
Vishal   3.80   NaN   NaN  NaN  NaN   NaN   NaN   NaN  NaN
<class 'pandas.core.frame.DataFrame'>

In [10]:
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'], 
      'B': ['Masters', 'Graduate', 'Graduate'], 
      'C': [27, 23, 21]}) 
print(df)

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

In [12]:
p = df.pivot('A','B','C')
print(p)
print(type(p))

B     Graduate  Masters
A
Boby      23.0      NaN
John       NaN     27.0
Mina      21.0      NaN
<class 'pandas.core.frame.DataFrame'>

In [13]:
p=df.pivot(index ='A', columns ='B', values =['C', 'A'])
print(p)

            C                A
B    Graduate Masters Graduate Masters
A
Boby       23     NaN     Boby     NaN
John      NaN      27      NaN    John
Mina       21     NaN     Mina     NaN

In [14]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

print(df)

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [15]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [16]:
df.pivot(index='foo', columns='bar')['baz']
print(df)

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [17]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])
print(df)

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [18]:
df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'], "bar": ['A', 'A', 'B', 'C'], "baz": [1, 2, 3, 4]})
print(df)

   foo bar  baz
0  one   A    1
1  one   A    2
2  two   B    3
3  two   C    4

In [20]:
d = {'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
df = pd.DataFrame(d)
print(df)

    Age  Rating
0    25    4.23
1    26    3.24
2    25    3.98
3    23    2.56
4    30    3.20
5    29    4.60
6    23    3.80
7    34    3.78
8    40    2.98
9    30    4.80
10   51    4.10
11   46    3.65

In [21]:
df.pivot(index='Age', columns='Rating')

Empty DataFrame
Columns: []
Index: [23, 25, 26, 29, 30, 34, 40, 46, 51]

In [22]:
# minimum

m = df.min()
print(m)

Age       23.00
Rating     2.56
dtype: float64

In [23]:
#absolute
a = df.abs()
print(a)

    Age  Rating
0    25    4.23
1    26    3.24
2    25    3.98
3    23    2.56
4    30    3.20
5    29    4.60
6    23    3.80
7    34    3.78
8    40    2.98
9    30    4.80
10   51    4.10
11   46    3.65

In [24]:
#product

pr = df.prod()
print(df)
print(pr)

    Age  Rating
0    25    4.23
1    26    3.24
2    25    3.98
3    23    2.56
4    30    3.20
5    29    4.60
6    23    3.80
7    34    3.78
8    40    2.98
9    30    4.80
10   51    4.10
11   46    3.65
Age       7.158408e+17
Rating    6.320128e+06
dtype: float64

In [25]:
cpr = df.cumprod()
print(cpr)

                   Age        Rating
0                   25  4.230000e+00
1                  650  1.370520e+01
2                16250  5.454670e+01
3               373750  1.396395e+02
4             11212500  4.468465e+02
5            325162500  2.055494e+03
6           7478737500  7.810877e+03
7         254277075000  2.952512e+04
8       10171083000000  8.798485e+04
9      305132490000000  4.223273e+05
10   15561756990000000  1.731542e+06
11  715840821540000000  6.320128e+06

In [27]:
cs = df.cumsum()
print(df)
print(cs)

    Age  Rating
0    25    4.23
1    26    3.24
2    25    3.98
3    23    2.56
4    30    3.20
5    29    4.60
6    23    3.80
7    34    3.78
8    40    2.98
9    30    4.80
10   51    4.10
11   46    3.65
    Age  Rating
0    25    4.23
1    51    7.47
2    76   11.45
3    99   14.01
4   129   17.21
5   158   21.81
6   181   25.61
7   215   29.39
8   255   32.37
9   285   37.17
10  336   41.27
11  382   44.92

In [28]:
#mean
m = df.mean()
print(m)

Age       31.833333
Rating     3.743333
dtype: float64

In [29]:
#mode
md = df.mode()
print(md)

     Age  Rating
0   23.0    2.56
1   25.0    2.98
2   30.0    3.20
3    NaN    3.24
4    NaN    3.65
5    NaN    3.78
6    NaN    3.80
7    NaN    3.98
8    NaN    4.10
9    NaN    4.23
10   NaN    4.60
11   NaN    4.80

In [30]:
#median
med = df.median()
print(med)

Age       29.50
Rating     3.79
dtype: float64

In [31]:
#count
c = df.count()
print(c)

Age       12
Rating    12
dtype: int64

In [32]:
#sum
s = df.sum()
print(s)

Age       382.00
Rating     44.92
dtype: float64

In [35]:
#standard deviation
sd = np.std([1,4,3,8,6,11,17,18,19,24,27,28])
print(sd)

9.190877119308157

In [38]:
#standard deviation
s = pd.Series([1,4,3,8,6,11,17,18,19,24,27,28])
print(s)
print(s.std())

0      1
1      4
2      3
3      8
4      6
5     11
6     17
7     18
8     19
9     24
10    27
11    28
dtype: int64
9.599558070636125

In [39]:
sr = pd.Series([19.5, 16.8, None, 22.78, None, 20.124, None, 18.1002, None])
print(sr.std())

2.2577393844285925

In [40]:
d = {'Name':pd.Series(['Tina','Ria','Amit','Sumit','Manish','Mayank','Vishal','Vardan','Rahul,','Vikesh','Priyank','Bhavesh']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
df = pd.DataFrame(d)
print(df)

       Name  Age  Rating
0      Tina   25    4.23
1       Ria   26    3.24
2      Amit   25    3.98
3     Sumit   23    2.56
4    Manish   30    3.20
5    Mayank   29    4.60
6    Vishal   23    3.80
7    Vardan   34    3.78
8    Rahul,   40    2.98
9    Vikesh   30    4.80
10  Priyank   51    4.10
11  Bhavesh   46    3.65

In [41]:
print(df.cumsum())

                                                 Name  Age  Rating
0                                                Tina   25    4.23
1                                             TinaRia   51    7.47
2                                         TinaRiaAmit   76   11.45
3                                    TinaRiaAmitSumit   99   14.01
4                              TinaRiaAmitSumitManish  129   17.21
5                        TinaRiaAmitSumitManishMayank  158   21.81
6                  TinaRiaAmitSumitManishMayankVishal  181   25.61
7            TinaRiaAmitSumitManishMayankVishalVardan  215   29.39
8      TinaRiaAmitSumitManishMayankVishalVardanRahul,  255   32.37
9   TinaRiaAmitSumitManishMayankVishalVardanRahul,...  285   37.17
10  TinaRiaAmitSumitManishMayankVishalVardanRahul,...  336   41.27
11  TinaRiaAmitSumitManishMayankVishalVardanRahul,...  382   44.92

In [42]:
print(df.sum())

Name      TinaRiaAmitSumitManishMayankVishalVardanRahul,...
Age                                                     382
Rating                                                44.92
dtype: object

In [43]:
#should throw an error
print(df.abs())

TypeError: ignored

In [44]:
#should throw an error
print(df.cumprod())

TypeError: ignored